
h1{
    color: rgb(0, 0, 0);
    padding: 10px;
}


@media(max-width: 725px){
  .imagem{
    display: none;
  }

  p{
    padding: 20px;
    border: 5px solid rgb(249, 222, 247);
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

}

body{
    background-color: rgb(176, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

p{
    padding: 20px;
    border: 5px solid rgb(249, 222, 247);
    border-radius: 10px;
    color: black;
}

.withoutBorder{
    border: 0px;
    border-radius: 0px;
}

button {
  color: white;
  background: blue;
  transition: background 1s;
  transform: translateX(0) scale(1);
}

button:hover,
button:focus {
  background: green;
  transform: translateX(10px) scale(1.2);
}

.quadrado {
    width: 50px;
    height: 50px;
    animation: go-back 1s infinite alternate;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }